@model IEnumerable<Order>
@{
}
<div style="width:100%" class="mt-2">
    <a href="/Identity/Account/Manage" class="btn btn-primary my-2">Back</a>

    <h4> My Orders</h4>
    @if (Model != null && Model.Count()>0)
    {
      <table class="table table-striped">
          <tr class="table-primary">
              <th>Order Date</th>
              <th>Order Status</th>
          </tr>
          @foreach(var order in Model)
          {
              <tr class="table-info">
                  <td>@order.CreateDate.ToString("dd-MM-yyyy")</td>
                  <td>@order.OrderStatus.StatusName</td>
              </tr>
              @if (order.OrderDetails != null && order.OrderDetails.Count > 0)
              {

                    <tr>
                        <td>
                            <table class="table table-striped">
                                <tr class="table-success">
                                    <td>
                                            Total:
                                    </td>
                                    <td>
                                        @(order.OrderDetails.Select(item => item.Product.Price * item.Quantity).Sum() * (100 - order.DiscountAmount) / 100) 
                                        (Discounted @(order.DiscountAmount)%)
                                    </td>
                                </tr>
                            <tr class="table-dark text-center">
                                <th>Product</th>
                                <th>Image</th>
                                <th>Genre</th>
                                <th>Unit Price</th>
                                <th>Total Price</th>
                            </tr>
                            @foreach (var item in order.OrderDetails)
                            {
                                <tr class="table-secondary text-center">
                                    <td>@item.Product.ProductName</td>
                                    <td>
                                        @if (string.IsNullOrEmpty(item.Product.Image))
                                        {
                                            <img src="/images/NoImage.png" style="width:80px;height:100px" />
                                        }
                                        else
                                        {
                                            <img src="/images/@item.Product.Image" style="width:80px;height:100px" />
                                        }
                                    </td>
                                    <td>@item.Product.Category.CategoryName</td>
                                    <td>@item.Product.Price X @item.Quantity</td>
                                    <td>@(item.Product.Price * item.Quantity)</td>
                                </tr>
                            }
                        </table>
        </td>
    </tr>
          }
          }
      </table>

    }
    else
    {
        <h5>No orders</h5>
    }
</div>




        